.selected-album {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 70px;
}

.album-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 400px;
}

.album-info img {
  width:150px;
  border-radius: 10px;
}

.music-list {
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .selected-album {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .music-list {
    margin: auto;
    margin-bottom: 20px;
  }
  .music-card {
    flex-direction: column;
    border-top: 1px solid black;
  }
}